<!DOCTYPE html>
<html>
<head>
  <title>Split-Flap Server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
    function change(e) {
      var select = e.target;
      var opt = select.options[select.selectedIndex];
      var message = opt.getAttribute('data-message');
      document.getElementById('message').value = message;
    }
    function load() {
      var select = document.getElementById('id');

      select.addEventListener('change', change, false);
      change({'target': select});
    }
  </script>
</head>
<body onload="load()">
  <h2>Split-Flap Server</h2>

  <form action="/set_message" method="POST">
    <div>Set message:</div>
    <div><select name="id" id="id">
      {{range .Connections}}
      <option data-message="{{.Message}}" data-audio="{{.Audio}}">{{.Id}}</option>
      {{end}}
    </select></div>
    <div><input name="message" id="message" value=""></div>
    <div><input type="submit"></div>
  </form>

</body>
</html>

